
    body {
    background: #555;
}
         .btn{
                text-align: center;
                margin: 20px;
            }
            .btn input {
                font-size: 12pt;
                font-weight: bold;
            }
            .center {
                text-align: center;
            }
            .center-admin {
                text-align: center;
                padding-top: 150px;
            }
        