/* Bordered form */
.loginform {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.loginform input[type=text], input[type=password] {
    font-family:'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginform select {
     font-family:'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.loginb{
    font-size:17px;
    right:0;
    
    padding: 10px;
    border-radius: 5px;
    text-transform:uppercase;
    font-weight: bold;
    color:#fff;
    border:0;
    cursor: pointer;
    background-color:#fed136;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.loginb:hover{
    opacity: 0.8;
}

.regbtn{
    background-color: #5b6771;
    margin-left: 10pt;
}

.registerc{
  text-align: center;  
}

.marginright{
    margin-right: 12pt;
}

.marginleft{
    margin-left: 12pt;
}

.registerc label {
    font-size: 17px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bolder;
    margin-left: 10pt;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.logo {
    width: 40%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.container label{
    font-size: 17px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bolder;
}

.redstar {
    color: red;
}


/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}